* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0.5rem 1rem;
    width: 70%;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: #000000;
}

nav a {
    justify-content: center;
    align-items: center;
}

.logo {
    width: 7.5rem;
    border-radius: 0.25rem;
    border: 0.05rem solid #CDCDCD;
    padding: 0.5rem;
    background-color: #E6E6DB;
    transition: 0.25s;
}

.logo:hover {
    border: 0.05rem solid #7D7E7F;
}

ul {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style: none;
    padding: 0.5rem 1rem;
    transition: 0.25s;
}

li a:hover {
    transform: scale(1.1);
    color: #7D7E7F;
}

.slider {
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 50rem;
    height: 25rem;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 25rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 50rem;
}

.manual-navigation {
    position: absolute;
    width: 50rem;
    margin-top: -2.5rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000;
    padding: 0.25rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 2.5rem;
}

.manual-btn:hover {
    background-color: #000;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20A6FF;
    padding: 0.25rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 50rem;
    margin-top: 22.5rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 2.5rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #000;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #000;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #000;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #000;
}


